* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 80vw;
    height: 200vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
}

header {
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column; 
    background-color: rgb(255, 255, 255);
    color:black;
}

header > h3 {
    position: absolute;
    left: 20px;
    margin-left: 20px;
    color: #603F97; 
    font-size: 25px;

}

h3 > span {
    color: #3FBEB6;
}

nav {
    position: absolute;
    right: 20px;
    padding-left: 20px;
}

nav > ul {
    display: flex;
    list-style: none;
}

li > a:hover {
    transition: 0.3s;
    color: #3FBEB6;
}

li > a {
    transition: 0.5s;
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

li > a[id = "login"] {
    background-color: #3FBEB6;
    padding:5px 15px;
    border-radius: 3px;
}

li > a[id = "login"]:hover {
    background-color: #603F97;
    transition: 0.3s;
    color: white;
}

li > a[id = "login"] > i{
    margin-right: 5px;
}

/*Lista que segue a scrool bar*/
#scroll {
    scroll-behavior: smooth;
}

/*botão para o topo*/
#to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #3FBEB6;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
}

#to-top:hover {
    background-color: #603F97;
    transition: 0.5s ;
    padding-bottom: 5px;
}

#top-top > a:active, html{
    scroll-behavior: smooth;
}

#to-top > a {
    text-decoration: none;
    color: white;
}


#scroll {
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 5px;
    background-color: #603F97;
}

/*Tela de login*/
#logar {
    align-items: center;
    width: 100%;
    height: 100%;
    display:none;
    justify-content: center;
    margin-top: 10%;
}


.close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 30px;
    color: #603F97;
    transition: 0.3s;
}

.close:hover {
    cursor: pointer;
    color: rgb(209, 3, 3);
    transition: 0.3s;
}

input {
    margin-left: -150px;
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background-color: lightgrey;
    transition: 0.5s;
    color: black;
    border-radius: 40px;
}

input:focus {
    background-color: white;
    transition: 0.5s;
}

label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: -150px;
}


#div-login > a {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-decoration: none;
    color: white;
    background-color: #3FBEB6;
    padding: 10px 20px;
    border-radius: 3px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.5s;
}

#form01 {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 100px;
    left:200px;
}

label {
    color: black;
}


#div-login {
    border: 2px solid black;
    position: relative;
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50vw;
    height: 40vh;
    align-items: center;
    border-radius: 6px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

